@font-face {
  font-family: 'Ogg';
  src: url('../fonts/Ogg-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Centra No2';
  src: url('../fonts/CentraNo2-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Centra No2';
  src: url('../fonts/CentraNo2-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Centra No2';
  src: url('../fonts/CentraNo2-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
